.navbarContent{
    display: flex;
    justify-content: space-between;
}

.navIcon{
    font-size: 35px;
}

.profile{
    text-align: center;
}
.profile p{
    font-size: 15px;
    margin: 0px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
