
.transferProducts{
    padding: 10px 0px;
}
.topHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 55px;
}
.arrowIcon{
    flex: 0 0 20%;
    text-align: center;
}
.arrowIcon button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}
.arrowIcon img{
    width: 15px;
    height: 15px;
}
.title{
    flex:  0 0 60%;
    width: 60%;
    text-align: center;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.title img{
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.notice{
    width: 95%;
    margin: 50px auto;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
}

.submitBtn{
    text-align: center;
    margin-top: 70px;
}
.submitBtn a{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #232057;
    border-radius: 6px;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    width: 40%;
    text-decoration: none;
}

@media (min-width:200px) and (max-width:300px){
    .submitBtn button{
        width: 70%;
    }
}

@media (min-width:600px){

    .submitBtn button{
        width: 30%;
    }
}